body {
  margin: 0;
  width:100%;
  height:100%;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, blueprint-icons-16, sans-serif;
}

#root {
  height: 100%;
}