@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;900&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Special+Elite&display=swap');

:root {
  font-family: "Overpass",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background: radial-gradient(64.14% 72.25% at 47.58% 31.75%,#71787f85 0%,#fff0 100%),linear-gradient(92.4deg,#26292c 14.67%,#0000007a 54.37%,#1a22289e 92.49%),linear-gradient(#282929,#203746);*/
  background-color: rgb(225 227 225);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* position: absolute !important;
  width: 100% !important;
  height: 100% !important; */
  margin-top: 3em;
}

* {
  box-sizing: border-box;
  font-family: 'American Typewriter'; /* 'Special Elite' /* 'Inconsolata', monospace; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width:100%;
  height:100%;
  position: absolute;
}

ul {
  list-style-type: none;
  color: #443e38;
  position: relative;
}

ul.variant {
  /*margin: 30px 2em;*/
  margin-bottom: 40px;
}

ul.no-line:before {
  display: none;
}

ul:before {
  content: "";
  width:2px;
  height:80%;
  background-color: #998576;
  position: absolute;
  left: 21px;
  top: 50%;
  transform: translateY(-50%);
}

ul.variant:before {
  content: "";
  width:2px;
  height:80%;
  background-color: #998576;
  position: absolute;
  right: -19px;
  left: unset;
  top: 50%;
  transform: translateY(-50%);
}

li {
  position: relative;
  margin: 10px 0;
}

ul.variant li {
  margin: 20px 0;
}

ul.variant:not(.no-line) li:last-child:after {
  content: "";
  width:5px;
  height:60px;
  background-color: rgb(235 229 223);
  position: absolute;
  right: -20px;
  top: 38%;
  display: block;
}

li .title {
  font-weight:900;
  font-size:1.1em;
}

li .role {
  font-weight:600;
}

li p {
  font-size: 14px;
}

ul.variant li {
  padding-right:30px;
}

li:before {
  content: "";
  width:10px;
  height:10px;
  border-radius: 50%;
  border: 2px solid #998576;
  background-color: rgb(235 229 223);
  position: absolute;
  left: -25px;
  top: 25%;
  /*transform: translateY(-50%);*/
}

ul.variant li:before {
  content: "";
  width:10px;
  height:10px;
  border-radius: 50%;
  border: 2px solid #998576;
  background-color: rgb(235 229 223);
  position: absolute;
  right: -25px;
  left: unset;
  top: 25%;
  /*transform: translateY(-50%);*/
}

h4 {
  font-weight: 600;
}

li:last-child:after {
  display: none;
}

/* Pencil */

.pencil{
  height:380px;
  position:relative;
  width:60px;
  margin: 5px;
  transform: rotate(180deg) scaleY(1.25) scaleX(0.4);
}

.left,.center,.right {
  display:inline-block;
  height:300px;
  float:left;
  box-shadow: -15px -5px 30px #777;
}
.left,.right {
  width:15px;
  position:relative;
}
.left{
  background: -webkit-linear-gradient(left,#393939, #393939);
  background: -moz-linear-gradient(left,#393939, #393939);
}
.right {
    background: -webkit-linear-gradient(left,#393939, #393939);
    background: -moz-linear-gradient(left,#393939, #393939);
}
.variant .left{
  background: -webkit-linear-gradient(left,#6f6c6d, #6f6c6d);
  background: -moz-linear-gradient(left,#6f6c6d, #6f6c6d);
}
.variant .right {
    background: -webkit-linear-gradient(left,#6f6c6d, #6f6c6d);
    background: -moz-linear-gradient(left,#6f6c6d, #6f6c6d);
}
.center {
  width:30px;
  background: #020101;
  position:relative;
  color:#000;
}
.variant .center {
  background: #3e393b;
}
.top {
  position:relative;
  
}
.bottom {
  clear:both;
  height:20px;
  background: linear-gradient(to bottom ,#000, #FFBF00, #000 , #df488a, #df488a);
  border-radius:0 0 10px 10px;
  box-shadow: -15px -5px 30px #777;
}
.top {
  border-bottom:60px solid #f2ecc2;
  border-left:30px solid transparent;
  border-right:30px solid transparent;
}
.top:before{
  content:"";
 
  display:block;
  position: absolute;
  left:-10px;
  border-bottom:20px solid #666;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  
}
.center:before {
  position: absolute;
  content:"";
  display:block;
  color:#000;
  top:-10px;
  border-bottom:10px solid #020101;
  border-left:15px solid transparent;
  border-right:15px solid transparent;
}

.left:before {
  position: absolute;
  content:"";
  display:block;
  color:#000;
  top:-7px;
  border-bottom:7px solid #020101;
  border-left:7px solid transparent;
  border-right:7px solid transparent;
  box-shadow: -15px -5px 30px #777;
}
.right:before {
  position: absolute;
  content:"";
  display:block;
  color:#000;
  top:-7px;
  border-bottom:7px solid #020101;
  border-left:7px solid transparent;
  border-right:7px solid transparent;
  box-shadow: -15px -5px 30px #777;
}

.page {
  background-color: rgb(235 229 223);
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  box-shadow: 15px 10px 25px #ccc;
}